.CadastroCliente{
    margin-top: 50px;

}

.CadastroCliente input, label, select,h1, span{
    margin-top: 5px;
    margin-left: 20%;
    display: block;
    text-align: left;

}

.CadastroCliente span{
    font-size: 9px;
    color: red;
}